//
// Metrics
//

.metrics-area {
  margin-top: 1rem;

  .title {
    padding-left: 10px;
    font-size: $font-size-xs;
    font-weight: 400;
    color: $black-secondary;
    margin-bottom: 4px;
  }
  .outer {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 20px;
    padding: 0 10px;
    background-color: rgba($indigo-700, .08);
  }
  .inner {
    @include clearfix();
    overflow: hidden;
    box-sizing: content-box;
  }
  .type {
    float: left;
    position: relative;
  }
  @at-root .white-type .type {
    color: $white-primary;
  }

  .baseline:not(.baseline-none) {
    background-image: linear-gradient(to bottom, rgba($indigo-700, .5) 0,rgba(255,255,255,0) 1px);
    background-repeat: repeat-y;
    //background-size: 100% 8px;
    background-size: inherit;
  }

  .metrics-featured {
    .title {
      color: $pink-a400;
      font-weight: 700;
    }
    .outer {
      background-color: $yellow-a700;
    }
    .baseline:not(.baseline-none) {
      background-image: linear-gradient(to bottom, $pink-a400 0,rgba(255,255,255,0) 1px);
    }
  }
}



