//
// Variables
//


// Colors
//
// refer to material color https://material.io/guidelines/style/color.html

$white: #fff;
$black: #000;
$blue-a700: #2962FF;
$indigo-a700: #304FFE;
$indigo-700: #303F9F;
$yellow-a700: #FFD600;
$pink-a400: #F50057;

$black-primary: rgba($black, .87);
$black-secondary: rgba($black, .54);
$black-disabled: rgba($black, .38);
$black-divider: rgba($black, .12);

$white-primary: rgba($white, 1);
$white-secondary: rgba($white, .7);
$white-disabled: rgba($white, .5);
$white-divider: rgba($white, .12);

$brand-primary: $blue-a700;


// Body
//

$body-bg: $white;
$body-color: $black-primary;


// Fonts
//

$font-family-sans-serif:  Roboto, sans-serif;
$font-family-monospace:   "Roboto Mono", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg:   1.25rem;
$font-size-sm:   .875rem;
$font-size-xs:   .75rem;

$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;

$lead-font-size:  1.25rem;
$small-font-size: 80%;

$line-height-base: 1.5;

$headings-font-family:   inherit;
$headings-font-weight:   500;
$headings-line-height:   1.1;
$headings-color:         inherit;
$headings-margin-bottom: 1rem;

$link-color: $brand-primary;
$link-hover-color: $indigo-700;
$link-decoration: none;
$link-hover-decoration: underline;


// Z-index
//

$zindex-header: 100;


// Grid breakpoints
//

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);