<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content" role="main">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!--webfont loader-->
    <script>
      //test
      WebFontConfig = {
        google: {
          families: ['Roboto:400,700', 'Roboto Mono:400', 'Material Icons'],
          text: 'abcdefghijklmnopqrstuvwxyz0123456789@|-–_.'
        }
      };
      (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
        wf.async = true;
        s.parentNode.insertBefore(wf, s);
      })(document);
    </script>

    {% assign js_path = "/assets/js/main.js" %}
    {% for file in site.static_files %}
      {% if file.path == js_path %}
        {% assign js_date = file.modified_time %}
        {% break %}
      {% endif %}
    {% endfor %}
    <script src="{{ js_path | relative_url }}?v={{ js_date | date: "%s" }}"></script>

  </body>

</html>
